@import url("./vendors/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
/*=============*/
/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
a:-webkit-any-link:focus-visible {
  outline: 0px;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
/*=============*/
/* Body | RTL */
body {
  /* padding-top: 10px; */
  color: var(--clr-body);
  background: var(--bg-body);
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
/*=============*/
/* Variables */
:root {
  --bg-body: #ffffff;
  --clr-body: #23293f;
  --clr-primary: #1769cc;
  --clr-secondary: #f88160;
  --clr-success: #00bf00;
  --clr-gray: #f4f9ff;
  --clr-gray-1: #f2f6fa;
}
.adv-fawtara {
  --clr-primary: #1769cc;
  --clr-secondary: #f88160;
}
.adv-twajod {
  --clr-primary: #3d6aa5;
  --clr-secondary: #00b0b9;
}
/*=============*/
/* Components */
.adv-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background: var(--clr-secondary);
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.form-group {
  margin-bottom: 16px;
}
.form-control {
  padding: 1rem 1.5rem;
  border-radius: 12px;
  border: 2px solid transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--clr-body);
}
.form-control:focus-visible,
.form-control:focus {
  border-color: var(--clr-secondary);
}
.form-control::placeholder {
  color: var(--clr-body);
  opacity: 0.4;
}
.adv-select {
  position: relative;
  display: flex;
}
.adv-select::before {
  content: "";
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3685 8C7.05758 8 6.74665 7.88861 6.50118 7.64993L0.7244 2.0328C0.249826 1.57134 0.249826 0.807537 0.7244 0.346074C1.19897 -0.115358 1.98448 -0.115358 2.45905 0.346074L7.3685 5.11983L12.2779 0.346074C12.7525 -0.115358 13.538 -0.115358 14.0125 0.346074C14.4871 0.807537 14.4871 1.57134 14.0125 2.0328L8.23583 7.64993C7.99036 7.88861 7.67943 8 7.3685 8Z" fill="rgb(43 61 76)" fill-opacity="0.5"/></svg>')
    no-repeat center;
  width: 16px;
  height: 8px;
  inset-block: 0;
  margin-block: auto;
  inset-inline-end: 24px;
  z-index: 1;
}
select.form-control {
  padding-inline-end: 50px;
  cursor: pointer;
}
/*=============*/
/* Hero Section */
.adv-hero {
  padding: 127px 80px;
  background: var(--clr-primary);
  color: white;
}
.adv-hero .adv-hero_logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.adv-hero .adv-hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  max-width: 400px;
  margin-bottom: 1rem;
}
.adv-hero .adv-hero__desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 2.5rem;
}
.adv-hero__video {
  width: 100%;
}
.adv-hero__video iframe {
  width: 100%;
  /* min-width: 640px; */
  min-height: 426px;
  border-radius: 8px;
  border: 4px solid black;
  box-shadow: 0px 24px 48px -12px #1018282e;
}
/*=============*/
/* Info Section */
.adv-info {
  background: var(--clr-gray-1);
  padding: 1.5rem;
}
.adv-info .info-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  flex-wrap: wrap;
}
.adv-info .info-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.adv-info .info-list li .item-icon svg {
  width: 27px;
  height: 27px;
  color: var(--clr-success);
}
.adv-info .info-list li p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--clr-body);
}
/*=============*/
/* Features */
.adv-features {
  padding: 6rem 1.5rem;
  text-align: center;
}
.adv-features .adv-features__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: var(--clr-body);
  margin-bottom: 16px;
}
.adv-features .adv-features__desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--clr-body);
  opacity: 0.9;
  margin-bottom: 4rem;
}
.adv-features .adv-features__item {
  padding: 2.5rem 1rem;
  height: 100%;
  background: var(--clr-gray);
  border-radius: 20px;
}
.adv-features .adv-features__item .item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-bottom: 2rem;
}
.adv-features .adv-features__item .item-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: var(--clr-body);
  margin-bottom: 1rem;
}
.adv-features .adv-features__item .item-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--clr-body);
  opacity: 0.7;
}
/*=============*/
/* Register */
.adv-register {
  position: relative;
  overflow: clip;
  isolation: isolate;
}
.adv-register::before {
  content: "";
  background: url("./imgs/line-pattern.svg") no-repeat center;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-size: cover;
  z-index: -1;
}
.adv-register {
  margin-inline: 1.5rem;
  background: var(--clr-primary);
  border-radius: 20px;
  padding: 4rem 1.5rem;
  margin-bottom: 6rem;
}
.adv-register .adv-register__content {
  text-align: center;
}
.adv-register .adv-register__content .adv-register__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: white;
  margin-bottom: 40px;
}
/*=============*/
/* Footer */
.adv-footer {
  padding: 4rem 1.5rem 3rem;
}
.adv-footer .adv-footer__content {
  margin-bottom: 4rem;
}
.adv-footer .adv-footer__content .footer-logo {
  display: inline-flex;
  align-items: center;
  max-width: 165px;
  margin-bottom: 17px;
}
.adv-footer .adv-footer__content .footer-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clr-body);
}
.adv-footer .adv-footer__content .footer-contactus li {
  line-height: 1;
}
.adv-footer .adv-footer__content .footer-contactus li:not(:last-child) {
  margin-bottom: 22px;
}
.adv-footer .adv-footer__content .footer-contactus li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  color: #475467;
}
.adv-footer .adv-footer__content .footer-contactus li a:hover {
  color: var(--clr-primary);
}
.adv-footer .adv-footer__content .footer-contactus li:first-child a {
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  color: #101828;
  cursor: default;
}
.adv-footer .adv-footer__copyrights {
  padding-top: 2rem;
  border-top: 1px solid #eaecf0;
}
.adv-footer .adv-footer__copyrights .copyrights-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}
.adv-footer .adv-footer__copyrights .footer-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.adv-footer .adv-footer__copyrights .footer-links li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #98a2b3;
}
.adv-footer .adv-footer__copyrights .footer-links li a:hover {
  color: var(--clr-primary);
}
.adv-footer .adv-footer__copyrights .footer-links li a .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

/*=============*/
/* Utilities */
.fs-18 {
  font-size: 18px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mobile-dir {
  direction: ltr;
  display: inline-flex;
  text-decoration: underline;
  align-items: center;
}
/*=============*/
/* Mobile select input group */
.mobile-input-group {
  display: flex;
  align-items: center;
  position: relative;
}
.mobile-input-group .adv-select {
  direction: ltr;
}
.adv-select > img {
  position: absolute;
  width: 21px;
  inset-inline-start: 27px;
  inset-block: 0;
  margin-block: auto;
}
.mobile-input-group .adv-select .form-control {
  outline: 0;
  padding: 14px 24px;
  min-width: 140px;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border: 2px solid transparent;
  border-inline-end: 0;
}
.mobile-input-group .adv-select .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.mobile-input-group .adv-select > img + .form-control {
  padding-inline-start: 52px;
}
.mobile-input-group input:focus + .adv-select .form-control {
  border-color: var(--clr-secondary);
}
.mobile-input-group input {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  direction: rtl;
  border-inline-end: 0;
}

/* Feather Animation */
/* New Feather  */
.adv-hero {
  position: relative;
  isolation: isolate;
  overflow: clip;
}
.hero-feather,
.hero-feather .feather-1,
.hero-feather .feather-2 {
  position: absolute;
}
.hero-feather {
  top: -90px;
  inset-inline-start: 0px;
  top: -100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* overflow: hidden; */
}
.hero-feather .svg-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero-feather .feather-1,
.hero-feather .feather-2 {
  min-width: 50%;
  min-height: 924px;
  transform-origin: bottom right;
}
.hero-feather .feather-1 {
  top: -10px;
  inset-inline-start: 0;
  animation: headerVector1 6s infinite;
}
.hero-feather .feather-2 {
  top: -90px;
  inset-inline-start: -480px;
  animation: headerVector2 6s infinite;
}
@keyframes headerVector1 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(4deg) rotate(2deg);
    transform: skewX(4deg) rotate(2deg);
  }
  75% {
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(0) rotate(0deg);
    transform: skewX(0) rotate(0deg);
  }
}
@keyframes headerVector2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(4deg) rotate(-1deg);
    transform: skewX(4deg) rotate(-1deg);
  }
  75% {
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(0) rotate(0);
    transform: skewX(0) rotate(0);
  }
}

/* Twajod hero texture */

.adv-twajod .adv-hero:before {
  background: var(--hero-bg-img) no-repeat;
  background-position: left top;
  background-size: cover;
  width: 50%;
  height: 450px;
  inset-inline-end: 0;
  -moz-filter: blur(75px);
  filter: blur(75px);
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  --hero-bg-img: url("./imgs/hero-bg-twajd.svg");
}

/* Responsive Styles */
@media screen and (max-width: 991.98px) {
  .adv-hero {
    padding-top: 40px;
    padding-inline: 24px;
  }
  .adv-hero .adv-hero__title {
    max-width: 100%;
  }
  .adv-hero .adv-hero_logo {
    display: flex;
    margin-bottom: 64px;
  }
  .adv-hero .adv-btn {
    width: 100%;
  }
  .adv-features .adv-features__item {
    margin-bottom: 24px;
    height: calc(100% - 24px);
  }
}

@media screen and (max-width: 767.98px) {
  .adv-footer .adv-footer__content .footer-desc {
    margin-bottom: 48px;
  }
  .adv-footer__copyrights > .row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .adv-footer .adv-footer__copyrights .footer-links {
    justify-content: center;
    margin-bottom: 16px;
  }
}
