body {
    overflow-x: hidden;
}

.chat a {
    right: initial;
    left: 20px;
}

/* header */
@media (max-width: 992px) {
    .navbar-collapse {
        right: -20rem;
        left: initial;
        width: 20rem;
    }

    .navbar-collapse.show {
        right: 0;
        left: initial;
    }


    .content .before-images {
        right: 25px;
    }
}

/* app sec */
#app ul li:before {
    margin-right: 10px;
    margin-left: initial;
}